################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfTreeFix/Sln/.vs
/PdfTreeFix/Sln/_ReSharper.Caches
/PdfTreeFix/Src/PdfTreeFix/bin
/PdfTreeFix/Src/PdfTreeFix/obj
/PdfTreeFix/Src/PdfTreeFix/obj23
/PdfTreeFix/Src/PdfTreeFix/obj24
/PdfTreeFix/Src/PdfTreeFix/obj26
*.DotSettings
*.vspscc
*.user
/PdfTreeFix/Src/Vescon.Eplan.Utilities/bin
/PdfTreeFix/Src/Vescon.Eplan.Utilities/obj23
/PdfTreeFix/Src/Vescon.Eplan.Utilities/obj24
/PdfTreeFix/Src/Vescon.Eplan.Utilities/obj26
/PdfTreeFix/Tests/TestApp/obj
/PdfTreeFix/Tests/UnitTests/bin
/PdfTreeFix/Tests/UnitTests/obj
/_packages
/QDT/sln/.vs/
/QDT/sln/_ReSharper.Caches
/QDT/src/obj
/QDT/src/bin
/PlaceholderConfigLoader/.vs
/PlaceholderConfigLoader/PlaceholderConfigLoader/obj64
/PlaceholderConfigLoader/PlaceholderConfigLoader/obj
