<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <config>
    <add key="repositoryPath" value="../_packages" />
  </config>
  <packageSources>
    <add key="Official project team source" value="http://nuget.vescon.com/nuget/" />
    <add key="Official nuget source" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>